
params {

    occurrences  = 'gbif_occurrences/'
    outdir       = 'gbif_occurrences_processed/'

    // Basis of record (optional)
    basis_of_record = "PRESERVED_SPECIMEN,MATERIAL_CITATION,MACHINE_OBSERVATION"
    // basis_of_record = null

    // Path to phylogenetic trees
    t1  = './original_trees/'   // Original trees
    t2  = './processed_trees/'  // Trees with tips matched to GBIF specieskeys

    // Extinct species list (optional)
    extinct_taxa = "${projectDir}/data/extinct_taxa.txt"
    // extinct_taxa = null

    // Spatial outlier removal
    outlier_h3_resolution        = 6
    outlier_occurrence_threshold = 100

    // DBSCAN parameters
    dbscan_minpts = 3
    dbscan_eps    = 1000000   // in meters

    // H3 resolution for final binning
    h3_resolution = 4

    // User ID (will be added to the output path)
    userid = "abc"

}


process {

    // Defaults for all processes
    cpus   = 1
    memory = { 6.GB   * task.attempt }
    time   = { 4.h    * task.attempt }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'


    withName:count_occurrences {
        cpus        = 8
        memory      = null
        ext.tempDir = null
    }

    withName:define_species_set {
        cpus = 1
    }

    withName:pool_species_lists {
        cpus = 1
    }

    withName:prepare_species {
        cpus        = 4
        memory      = null
        ext.tempDir = null
    }

    withName:prepare_species_batched {
        cpus        = 4
        memory      = null
        ext.tempDir = null
    }

    withName:dbscan {
        cpus = 2
    }

    withName:dbscan_batched {
        cpus = 2
    }

    withName:process_dbscan {
        cpus        = 2
        memory      = null
        ext.tempDir = null
    }

    withName:process_dbscan_batched {
        cpus        = 2
        memory      = null
        ext.tempDir = null
    }

    withName:filter_and_bin {
        cpus        = 2
        memory      = null
        ext.tempDir = null
    }

    withName:filter_and_bin_batched {
        cpus        = 2
        memory      = null
        ext.tempDir = null
    }

    withName:count_outliers {
        cpus        = 2
        memory      = null
        ext.tempDir = null
    }

}
