
process {

    // Defaults for all processes
    cpus   = 1
    memory = { 6.GB   * task.attempt }
    time   = { 4.h    * task.attempt }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'


    withName:count_occurrences {
        cpus    = 8
        memory  = null
        tempDir = null
    }


}